<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QrssUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QrssUploader.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>defaultName</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>defaultPassword</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>ftp://default.com</value>
            </setting>
            <setting name="localPath" serializeAs="String">
                <value>C:\default\grabber\grab.png</value>
            </setting>
            <setting name="remotePath" serializeAs="String">
                <value>/mysite/grab.png</value>
            </setting>
            <setting name="seconds" serializeAs="String">
                <value>5</value>
            </setting>
        </QrssUploader.Properties.Settings>
    </userSettings>
</configuration>